body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    transition: background-color 0.5s;
}

.dark {
    background-color: #333;
    color: white;
}

.light {
    background-color: #FFF;
    color: black;
}

.toggleButton {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.lastToggle {
    margin: 10px;
}
.toggleButton {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border:none;
    color: rgb(207, 201, 201);
    background-color: rgb(225, 105, 7);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

